{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>
<body>
    <header class="universal_header">
        <div class="left">
            <h1>Online Auction</h1>
        </div>
        <div class="right">
            <form method="post" action="">
                {% csrf_token %}
                <button class="logout-btn" type="submit">Logout</button>
            </form>
        </div>
    </header>
</body>
</html>